.vertical-center {
    position: relative;
    display: table;
    height: 40px;
}
.vertical-center1 {
    display: table-cell;
    vertical-align: middle;
}
.time-card {
    background: #e2e2e2;
    height: 70px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 4px;
}
.time-card-name {
    font-weight: 600;
}
.time-card-time {
    font-size: 14px;
    font-weight: 600;
}