<div class="container top-padding">
    <div class="row">
        <div class="col-12">
            <h5>{{project?.name}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6" *ngFor="let log of logs">
            <div class="time-card">
                <div class="row">
                    <div class="col-5 col-sm-5 col-md-6 time-card-name">
                        <div class="vertical-center">
                            <div class="vertical-center1">
                                {{log?.user}}
                            </div>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-6">
                        <div class="row">
                            <div class="col-5 col-sm-4 col-md-5 time-card-time">
                                <div class="vertical-center">
                                    <div class="vertical-center1">
                                        {{log?.duration}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 col-sm-4 col-md-5 time-card-time">
                                <div class="vertical-center">
                                    <div class="vertical-center1">
                                        {{log?.date_time}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 col-sm-4 col-md-2 time-card-time">
                                <div class="vertical-center">
                                    <div class="vertical-center1">
                                        X
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>