<div class="container top-padding">
    <div class="row">
        <div class="col-12 col-sm-4"  *ngFor="let project of projects">
            <div class="project-card">
                <p>{{project.name}}</p>
                <a href="projects-list/{{project.$key}}" class="btn btn-dark btn-view">View</a>
            </div>
        </div>
    </div>
</div>
