.project-card {
    background: #e2e2e2;
    height: 150px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 4px;
}

.btn-view {
    bottom: 15px;
    right: 30px;
    position: absolute;
}